@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
body{
    font-family: 'Preahvihear', sans-serif;
    background:url(background.png);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#la_account{
    font: inherit;
    
}
#container{
    margin-top:20px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5px;
    width: 50%;
    background: white;
    -webkit-box-shadow: 0 0 10px #e3e3e3;
    box-shadow: 0 0 10px #e3e3e3;
    border-radius: 30px;
}
#img_logo{
    width: 20%;
    height: 10%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 30px;
}
#la_email{
    display: block;
    margin-left: 10%;
}
#inp_email{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid white;
    filter: drop-shadow(2px 2px 2px #e3e3e3);
    outline:none;
    padding-left:10px;
    font:inherit;
    font-size: small;
}
#la_password{
    font-size: large;
    display: block;
    margin-left: 10%;

}
#inp_password{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid white;
    filter: drop-shadow(2px 2px 2px #e3e3e3);
    outline:none;
    padding-left:10px;
    font:inherit;
    font-size: 13px;
}
#a_forgot{
    text-align: center;
    display: block;
    color:#e3e3e3;
    font-size: medium;
    
}
#a_forgot:hover{
    color: black;
}
#hr_line{
    background:#e3e3e3;
    border: none;
    height: 20px;
    width: 1px;
    
}
#btn_login{
    margin-left: 10%;
    font:inherit;
    font-size: medium;
    cursor: pointer;
    background: #2f65ff;
    outline: none;
    border: none;
    border-radius: 17px;
    width:40%;
    height: 60px;
    color: white;
    filter: drop-shadow(1px 1px 1px #e3e3e3);
}

#btn_login:hover{
    background: #2f66ff9c;
    color: black;
}

#btn_toregister{
    margin-top:25px;
    cursor: pointer;
    font:inherit;
    font-size: medium;
    background: #00cf3c;
    outline: none;
    border: none;
    border-radius: 17px;
    width:40%;
    height: 60px;
    color: white;
    filter: drop-shadow(1px 1px 1px #e3e3e3);
}

#btn_toregister:hover{
    background: #00cf3b8a;
    color: black;
}
#img_translate{
    width: 30px;
    height: 30px;
    display: block;
    margin-top: -45px;
    margin-left:45px;
    margin-left:93.5%;
    
}
#btn_language{
    width: 10%;
    display: block;
    background: none;
    outline: none;
    border: none;
    font: inherit;
    font-size: medium;
    color: #c5c5c5;
    margin-left:90%;
}
