@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

    body{
    font-family: 'Preahvihear', sans-serif;
    background:url(background.png);
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#la_account{
    font: inherit;
    
}
#container{
    margin-top:5%;
    margin-left: 31%;
    margin-right: 25%;
    padding: 5px;
    width: 40%;
    background: white;
    -webkit-box-shadow: 0 0 10px #e3e3e3;
    box-shadow: 0 0 10px #e3e3e3;
    border-radius: 30px;
}
#img_logo{
    width: 10%;
    height: 8%;
    margin-left: 45%;

    margin-bottom: 3%;
    margin-top: 5%;
}
#la_email{
    display: block;
    margin-left: 10%;
}
#inp_email{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid white;
    filter: drop-shadow(2px 2px 2px #e3e3e3);
    outline:none;
    padding-left:10px;
    font:inherit;
    font-size: small;
}
#la_password{
    font-size: large;
    display: block;
    margin-left: 10%;

}
#inp_password{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;
    border-radius: 15px;
    border: 1px solid white;
    filter: drop-shadow(2px 2px 2px #e3e3e3);
    outline:none;
    padding-left:10px;
    font:inherit;
    font-size: 13px;
}
#a_forgot{
    text-align: center;
    display: block;
    color:#e3e3e3;
    font-size: medium;
    
}
#a_forgot:hover{
    color: black;
}
#hr_line{
    background:#e3e3e3;
    border: none;
    height: 20px;
    width: 1px;
    
}
#btn_login{
    margin-left: 10%;
    font:inherit;
    font-size: 13px;
    cursor: pointer;
    background: #2f65ff;
    outline: none;
    border: none;
    border-radius: 17px;
    width:40%;
    height: 60px;
    color: white;
    filter: drop-shadow(1px 1px 1px #e3e3e3);
}

#btn_login:hover{
    background: white;
    color: #2f65ff;
}

#btn_toregister{
    margin-top:25px;
    cursor: pointer;
    font:inherit;
    font-size: 13px;
    background: #00cf3c;
    outline: none;
    border: none;
    border-radius: 17px;
    width:40%;
    height: 60px;
    color: white;
    filter: drop-shadow(1px 1px 1px #e3e3e3);
}

#btn_toregister:hover{
    background: white;
    color: #00cf3c;
}

#btn_language{
    width: 10%;
    display: inline;
    background: none;
    outline: none;
    border: none;
    font: inherit;
    font-size: medium;
    color: #c5c5c5;
    margin-left:87%;
}

/* Screen Normal Phone */
@media only screen and (min-width: 320px) and (max-width:480px){
    #container {
      margin-top: 1%;
      margin-left: 5%;
      margin-right: 5%;
      padding: 1%;
      width: 90%;
      background: white;
      -webkit-box-shadow: 0 0 10px #e3e3e3;
      box-shadow: 0 0 10px #e3e3e3;
      border-radius: 30px;
      }
  }
  /*  Screen tablets or ipad */
  @media only screen and (min-width:481px) and (max-width:768px){
      #container {
      margin-top: 1%;
      margin-left: 15%;
      margin-right: 15%;
      padding: 1%;
      width: 70%;
      background: white;
      -webkit-box-shadow: 0 0 10px #e3e3e3;
      box-shadow: 0 0 10px #e3e3e3;
      border-radius: 30px;
      }
  }
